{% extends "base.html" %}

{% block content %}
<h1>Create Task:</h1>
<form action="/tasks" method="POST">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" placeholder="Description">
    
    <label for="user">User:</label>
    <select name="user" id="user">
        <option  selected="true" disabled="disabled">Choose User</option>
        {% for user in all_users %}
        <option value="{{ user.id }}">{{ user.first_name }}</option>
        {% endfor %}
    </select>

    <label for="duration">Duration:</label>
    <input type="number" id="duration" name="duration" placeholder="Duration">

    <label for="completed">Completed:</label>
    <select name="completed" id="completed">
        <option  selected="true" disabled="disabled">Completed?</option>
        <option value="true">True</option>
        <option value="false">False</option>
    </select>

    <input type="submit" value="Add Task">
</form>

{% endblock %}